*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SF Pro Display, sans-serif;
}
.thankYouContainer{
            padding-left: 40px;
            padding-right: 40px;
            height: 100%;
        }
.orderConfirmationDiv{
            border: 1px solid rgba(135,206,250,0.7);
            width: 80%;
            padding-top: 10px;
            padding-right: 15px;
            padding-bottom: 10px;
        }
.thankYouContentDiv{
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
.thankYouContentMainDiv{
            width: 100%;
            font-family: SF Pro Display, sans-serif;
            color: #222222;
        }
.thankYouNavDiv{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            margin-bottom: 10px;
        }
.thankYouDiv{
            width: 80%;
            margin-bottom: 30px;
            text-align: left !important;
        }
.orderNumber{
            font-size: 20px;
            font-weight: 400;
            opacity: 0.8;
            margin-bottom: 20px;
        }
.thankYouParagraph{
            font-size: 30px;
            font-weight: 700;
        }
.orderConfirmationHeader{
            font-size: 24px;
            font-weight: 600;
            margin-left: 40px;
            margin-bottom: 20px;
        }
.orderConfirmationParagraph{
            font-size: 20px;
            font-weight: 400;
            margin-left: 40px;
            line-height: 1.5em;
            text-align: justify;
        }
@media only screen and (max-device-width: 750px){
      .orderConfirmationHeader{
            margin-bottom: 50px;
            margin-left: 10px;
      }
      .orderConfirmationParagraph{
            margin-left: 10px;
      }
      .thankYouDiv, .orderConfirmationDiv{
            width: 100%;
      }
      .thankYouContainer{
            padding-left: 20px;
      }
      .thankYouParagraph{
            line-height: 1em;
      }
      .orderConfirmationParagraph, .thankYouDiv, .orderNumber, .orderConfirmationHeader{
            text-align: center !important;
      }
      .orderConfirmationHeader{
            margin-bottom: 5px;
      }
}
@media only screen and (max-device-width: 400px){
      .orderConfirmationHeader{
            margin-bottom: 30px;
      }
}
